* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;  
  }
  .segment-1 {
    padding: 2% 10%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  img {
    width: 100px;
  }  
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    
  }

  li a {
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  ul li:first-child a {
    color: var(--Blue-1, #2F80ED);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
  }
  button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  .contactus {
    color: #0E1035;
  }
  .section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
  }
  .text {
    display: block;
    justify-content: center;
    align-items: center;
    
  }
  .world-paragraph {
    font-family: Inter;
    font-size: 50px;
    font-weight: 700; 
    margin-top: 120px;
    
  }
  .world {
    color: var(--Blue-1, #2F80ED);
  }
  .our-goal {
    color: var(--color-secondary, #676767);
    font-size: 20px;
    margin-top: 30px;  
  }
  .booking {
    display: inline-flex;
    padding: 20px 50px;
    border-radius: 20px;
    background: #0E1035;
    margin-top: 30px;
    color: #FFF;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-weight: 700; 
  }
  .picture {
    width: 500px;
    height: 700px;
    margin-top: -10%;
  }
  .section-2 {
    padding: 30px 70px;
    background-color: #0E1035;
    width: 1100px;
    height: 900px;
  }
  .header-text {
    color: #FFF;
    text-align: center;    
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 100px;
  }
  .header-logo {
    display: flex;
    width: 900px;
    padding: 20px 0px 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .companies {
    color: var(--Blue-1, #2F80ED);
    font-weight: 700; 
  }
  .brands {
    margin-left: 80px;
    margin-top: 70px;
    width: 900px;
    height: 100px; 
  }
  .text-pix1 {
    display: inline-flex;
    gap: 8rem;
    align-items: center;  
  }
  .seat {
    width: 350px;
    height: 400px;
    border-radius: 30px;
    background: url(./image/Seats.jpg), lightgray 50% / cover no-repeat;
    margin-left: 3rem;
    margin-top: 5rem;
  }
  .frame {
    width: 500px;
    height: 25px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .our-paragraph {
    margin-top: -10rem;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  .service {
    color: var(--Blue-1, #2F80ED);
  }
  .travira-paragraph {
    margin-top: 30px;
    color: #c3bfbf;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
 
  .text-3 {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #FFF;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 2rem;
    letter-spacing: 1px;
  }
  .sub-texta {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
  .sub-textb {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-left: 2rem;
  }
  .section-3 {
    padding: 30px 70px;
    background-color: #FFF;
    width: 1100px;
    height: 1500px;
  }
  .safety {
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: flex-start; 
    font-family: Inter;
    line-height: normal;
    font-style: normal;
    margin-left: 3rem;
  }
  .safety-header {
    color: #0E1035;
    font-size: 30px;    
    font-weight: 700; 
    margin-top: 30px;
  }
  .it-paragraph {
    color: var(--color-secondary, #676767);
    font-family: sans-serif;
    word-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
  }
  .text-4 {
    width: 550px;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #0E1035;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 2rem;
    letter-spacing: 1px;  
  }
  .sub-textc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-left: 0.1rem;
    width: 400px;
  }
  .sub-textd {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 200px; 
  }
  .pilot {
    width: 300px;
    height: 350px;
    margin-top: 30px;
    margin-left: 50px; 
  }
  
  .aircraft {
    display: block;
    justify-content: center;
    align-items: center;
    
  }
 
  .fleet {
    color: #0E1035;
    text-align: center;
    font-family: inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-top: 40px;
  }
  .travira-air {
    color: var(--color-secondary, #676767);
    text-align: center;
    font-family: sans-serif;
    word-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
  }
  .aircraft-img {
    margin-top: 30px;
    width: 1000px;
    height: 400px;
  }
  .section-4 {
    background-color: #FFF;
    width: 1100px;
    height: 800px; 
    align-items: flex-start;
    
  }
  .testimony {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    position: relative;
  }
  .aircraft-tail {
    height: 550px;
    margin-top: -40%;
    width: 1000px;
    z-index: 2;
  }
  .clients {
    width: 600px;
    height: 199.03px;
    margin-top: -60%;
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-left: 100px;
  }
  .testimonials {
    display: flex;
    justify-content: space-between; 
  }
  .testimony-1 {
    border: 1px solid white;
    box-sizing: border-box; 
    text-align: center;
    width: 250px;
    height: 150px;
    margin-top: -300px;
    margin-left: -600px;
    border-radius: 20px;
    box-shadow: 20px 10px 50px 0px #9895954D;  
  }
  .info-1 {
    display: flex;
    justify-content: space-between;
     
  }
 .reviewer {
  width: 150px;
  height: 50px;
  margin-top: 20px;
 }
 .thank-1 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 80px;
  margin-left: -150px;
 }
 .star {
  width: 100px;
  height: 20px;
  margin-top: 5px;
  margin-left: -300px;
 }
 .testimony-2 {
  border: 1px solid white;
    box-sizing: border-box; 
    text-align: center;
    width: 250px;
    height: 170px;
    margin-top: -300px;
    border-radius: 20px;
    box-shadow: 20px 10px 50px 0px #9895954D;
    z-index: 10;
 }
 .rectangle {
  position: absolute;
  width: 900px;
height: 300px;
top: -50px;
border-radius: 50px;
background-color:#0E1035;
left: 100px;
z-index: 2;

 }
 .container-text{
 margin-top: 100px;
 left: 200px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 20px;
}
.dont {
  color: #FFF;
  width: 300px;

font-family: Poppins;
font-size: 25px;
font-weight: 600;


text-align: center;
}
.contact {
  width: 200px;
height: 70px;
padding: 20px, 30px, 15px, 30px;
border-radius: 31.54px;
gap: 8.41px;
border: none;
margin-right: 100px;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 45px;
text-align: left;
background: white;
color: #0E1035;
}
.group29 {
  
}






